.Dashboard {
    width: 90vw;
    margin-left: 10vw;
}

.dashboard-container {
    width: 70%;
    margin: 0 auto;
}

.search-posts {
    background-color: #fff;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    box-shadow: 0 0 3px 2px rgba(0,0,0, 0.2);
    border-radius: 5px;
}

.search-input {
    margin-left: 20px;
}

.search-input input {
    width: 500px;
    height: 25px;
}

.search-input button {
    height: 30px;
    cursor: pointer;
}

.posts-checked {
    display: flex;
    margin-right: 20px;
}

.posts-checked input {
    margin-left: 10px;
}

.display-post-container {
    background-color: #fff;
    margin-top: 30px;
    box-shadow: 0 0 3px 2px rgba(0,0,0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.show-post {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 1px 2px rgba(0,0,0, 0.1);
    border-radius: 5px;
    padding: 10px;
}

.show-post img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 3px 2px rgba(0,0,0, 0.2);
}

.show-post h2 {
    margin-left: 10px;
    font-size: 1.5rem;
}

.username-img {
    display: flex;
    align-items: flex-end;
}

.username-img p {
    margin-right: 10px;
}